html, body {
  height: 100%;
}
.headers {
  text-align: center;
  font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif;
  font-weight: normal;
}
#main-message-container {
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.nav-item {
  display: inline;
}
.nav-item:not(#web-title) {
  padding-left: 2em;
  padding-right: 1em;
}
.nav-link {
  text-decoration: none;
  color: white;
}
.nav-link:hover {
  color: #8e908f;
}
#navbar-align-right {
  margin-top: 1.1em;
  font-size: 1.1em;
  font-family: Futura, Trebuchet MS, Arial, sans-serif;
  float: right;
}
#navbar-align-left,
#navbar-align-right {
  display: inline-block;
}
#nav-container {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background-color: black;
  padding-top: 0.5%;
  padding-bottom: 0.7%;
  padding-left: 1%;
  padding-right: 2%;
}
#home-top-half {
  height: 60%;
  margin-top: 0.5%;
  background: url("https://cdn.glitch.global/b988ba25-8dc7-4778-9e8b-f1fa0eacd098/a5037b.jpg?v=1654817959179");
  background-size: cover;
}
