.headers {
  font-family: sans-serif;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.nav-item {
  display: inline;
}
.nav-item:not(#web-title) {
  padding-left: 2em;
}
.nav-link {
  font-family: sans-serif;
  text-decoration: none;
  color: black;
  font-size: 2em;
}
#navbar-align-right {
  float: right;
}
#navbar-align-left, #navbar-align-right {
  display: inline-block;
}