html, body {
  height: 100%;
}
.headers {
  margin-left: 2.8%;
  font-family:Futura, Trebuchet MS, Arial, sans-serif;
  font-size:4em;
  font-weight: bold;
  color: white;
}
.sub-headers {
  margin-left: 2.8%;
  font-family:Futura, Trebuchet MS, Arial, sans-serif;
  color: white;
  font-weight: normal;
  font-size: 1.5em;
  margin-top: -1.5%;
}
.topic-headers {
  font-family:Futura, Trebuchet MS, Arial, sans-serif;
  color: white;
}
#main-message-container {
  vertical-align: middle;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.nav-item {
  display: inline;
}
.nav-item:not(#web-title) {
  padding-left: 2em;
  padding-right: 1em;
}
.nav-link {
  text-decoration: none;
  color: white;
}
.nav-link:hover {
  color: #8e908f;
}
#navbar-align-right {
  margin-top: 1.1em;
  font-size: 1.1em;
  font-family: Futura, Trebuchet MS, Arial, sans-serif;
  float: right;
}
#navbar-align-left,
#navbar-align-right {
  display: inline-block;
}
#nav-container {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background-color: black;
  padding-top: 0.5%;
  padding-bottom: 0.7%;
  padding-left: 1%;
  padding-right: 2%;
}
#home-top-half {
  height: 70%;
  margin-top: 0.5%;
  background-color: black;
  background-size: cover;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("https://cdn.glitch.global/b988ba25-8dc7-4778-9e8b-f1fa0eacd098/a5037b.jpg?v=1654817959179");
}
#main-message-container {
  overflow: hidden;
}
#visit-exhibit-button {
  margin-top: 0.5%;
  margin-left: 2.8%;
  font-family: Futura, Trebuchet MS, Arial, sans-serif;
  font-size: 1.1em;
  color: white;
  background-color: transparent;
  padding-top: 0.8%;
  padding-bottom: 0.8%;
  padding-left: 2%;
  padding-right: 2%;
  border-radius: 0%;
  border: 0.1em solid white;
}
#visit-exhibit-button:hover {
  background-color: rgba(97, 97, 97, 0.8);
}
#home-bottom-half {
  text-align: center;
  width: 100%;
  height: 100%;
  margin-top: 0.5%;
}
#topic-1 {
  width: 24.65%;
  height: 60%;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("https://cdn.glitch.global/b988ba25-8dc7-4778-9e8b-f1fa0eacd098/image.jpg");
  background-size: cover;
}
#topic-1:hover {
  background-size: cover;
  background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url("https://cdn.glitch.global/b988ba25-8dc7-4778-9e8b-f1fa0eacd098/image.jpg");
}
#topic-2 {
  width: 24.65%;
  height: 60%;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("https://cdn.glitch.global/b988ba25-8dc7-4778-9e8b-f1fa0eacd098/trains.jpg?v=1654969613938");
  background-size: cover;
}
#topic-2:hover {
  background-size: cover;
  background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url("https://cdn.glitch.global/b988ba25-8dc7-4778-9e8b-f1fa0eacd098/trains.jpg?v=1654969613938");
}
#topic-3 {
  width: 24.65%;
  height: 60%;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("https://cdn.glitch.global/b988ba25-8dc7-4778-9e8b-f1fa0eacd098/Avro_Arrow_rollout.jpg?v=1654969768427");
  background-size: cover;
}
#topic-3:hover {
  background-size: cover;
  background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url("https://cdn.glitch.global/b988ba25-8dc7-4778-9e8b-f1fa0eacd098/Avro_Arrow_rollout.jpg?v=1654969768427");
}
#topic-4 {
  width: 24.65%;
  height: 60%;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("https://cdn.glitch.global/b988ba25-8dc7-4778-9e8b-f1fa0eacd098/CrisisInset1.jpg?v=1654969942347");
  background-size: cover;
}
#topic-4:hover {
  background-size: cover;
  background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url("https://cdn.glitch.global/b988ba25-8dc7-4778-9e8b-f1fa0eacd098/CrisisInset1.jpg?v=1654969942347");
}
#topic-1, #topic-2, #topic-3, #topic-4 {
  display: inline-block;
}
.preview {
  /* border: 0.1em solid gray; */
  overflow: hidden;
}
